In [ ]:
import numpy as np
import pandas as pd

In [3]:
arr = np.arange(100,105)
print(arr)
s1 = pd.Series(arr)
s2 = pd.Series(arr,dtype='int32')
s3 = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
print(s1,s2,s3,sep='\n')

[100 101 102 103 104]
0    100
1    101
2    102
3    103
4    104
dtype: int64
0    100
1    101
2    102
3    103
4    104
dtype: int32
0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [5]:
print(s3[0])
print(s2[[1,2,3]]) #fancy 인덱싱
print(s3[np.arange(1,4,2)]) #fancy 인덱싱    
print(s2[s2>103]) #추가로 bool 인덱싱이있다

부장
1    101
2    102
3    103
dtype: int32
1    차장
3    사원
dtype: object
4    104
dtype: int32

In [22]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a','b','c','d','e'])
print(s)

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [17]:
print(s.values)
print(s.ndim)
print(s.shape)

['마케팅' '경영' '개발' '기획' '인사']
1
(5,)

In [18]:
s2 = pd.Series(['선화','강호', np.nan,'소정', '우잉'])

In [19]:
print(s2.isnull())
print(s2.isna())
print(s2.notnull())
print(s2[s2.notnull()])

0    False
1    False
2     True
3    False
4    False
dtype: bool
0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool
0    선화
1    강호
3    소정
4    우잉
dtype: object

In [ ]:
# 50개의 랜덤(100~200) 생성 후 160 이상만 출력
np.random.seed(20)
sample = pd.Series(np.random.randint(100,200,size=(50,)))
print(sample[sample>160])

0     199
1     190
3     195
5     190
8     175
10    171
12    196
14    185
15    190
17    183
19    162
22    198
26    175
30    174
31    175
32    161
33    177
34    183
36    194
40    175
43    177
48    179
49    190
dtype: int64

In [24]:
df = pd.DataFrame([[1,2,3,],[4,5,6],[7,8,9]],columns=['가', '나', '다'])
print(df)

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
df = pd.DataFrame(np.arange(60).reshape(6,10))
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      int64
 1   1       6 non-null      int64
 2   2       6 non-null      int64
 3   3       6 non-null      int64
 4   4       6 non-null      int64
 5   5       6 non-null      int64
 6   6       6 non-null      int64
 7   7       6 non-null      int64
 8   8       6 non-null      int64
 9   9       6 non-null      int64
dtypes: int64(10)
memory usage: 608.0 bytes
None

In [29]:
df = pd.DataFrame({"name":["kim","lee","park"],"age":[24,36,30],"childer" : [2,1,3]})
print(df)

   name  age  childer
0   kim   24        2
1   lee   36        1
2  park   30        3

In [30]:
df = pd.read_csv("/home/seokjun/kubig2025/ml_dt_python/data/fish_csv_data.csv")
print(df)

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]

In [33]:
df = pd.read_excel("/home/seokjun/kubig2025/ml_dt_python/data/exel_test.xlsx")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 19 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                  --------------  -----
 0   타임스탬프                                                                                                                                                                                                                                                                                                                                                                                   13 non-null     datetime64[ns]
 1   이메일 주소                                                                                                                                                                                                                                                                                                                                                                                  13 non-null     object
 2   Unnamed: 2                                                                                                                                                                                                                                                                                                                                                                              0 non-null      float64
 3   이름                                                                                                                                                                                                                                                                                                                                                                                      13 non-null     object
 4   1.파이썬이 인터프리터 언어로서 가지는 주요 특징은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                     13 non-null     object
 5   2.파이썬의 동적 타이핑의 특징은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                               13 non-null     object
 6   3. 다음 중 파이썬의 기본 데이터 타입이 아닌 것은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                    13 non-null     object
 7   4. input() 함수의 반환값은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                              13 non-null     object
 8   5. import 문의 주요 역할은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                              13 non-null     object
 9   6. 다음 중 딕셔너리 메소드 items()의 역할은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                    13 non-null     object
 10  7. list comprehension의 특징은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                       13 non-null     object
 11  8.함수의 가변 길이 인자 *args의 역할은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                        13 non-null     object
 12  9. 가상 환경(venv)의 주요 목적은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                           13 non-null     object
 13  10. 데코레이터의 주요 역할은 무엇인가요?                                                                                                                                                                                                                                                                                                                                                                13 non-null     object
 14  11. 파이썬이 mymodule.c로 생성된 .so 파일을 동적 로딩할 때 사용하는 주요 내부 메커니즘은 무엇인가요?                                                                                                                                                                                                                                                                                                                       13 non-null     object
 15  12. 파이썬에서 모든 클래스는 기본적으로 object 클래스를 상속받습니다. object 클래스의 주요 역할은 무엇인가요?                                                                                                                                                                                                                                                                                                                   13 non-null     object
 16  13. Docker 컨테이너에서 docker run 명령의 역할은 무엇인가요?                                                                                                                                                                                                                                                                                                                                             13 non-null     object
 17  14. Docker, Poetry, venv를 사용할 때의 공통 목표는 무엇인가요?                                                                                                                                                                                                                                                                                                                                          13 non-null     object
 18  15. 다음 코드에서 @property와 @age.setter를 사용한 age 속성의 동작을 해석하세요.

class Student:
    def __init__(self, age):
        self._age = age

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if not isinstance(value, int) or value < 0:
            raise ValueError("Age must be a non-negative integer")
        self._age = value  13 non-null     object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 2.1+ KB
None
                    타임스탬프                    이메일 주소  Unnamed: 2   이름  \
0 2025-05-15 17:10:02.146       egwag1627@gmail.com         NaN  곽은규
1 2025-05-15 17:10:51.556      bubblerion@gmail.com         NaN  박재형
2 2025-05-15 17:11:31.815      qkrgkdbf10@gmail.com         NaN  박어진
3 2025-05-15 17:11:32.138       hjp990730@gmail.com         NaN  박해준
4 2025-05-15 17:11:34.551  yeongjae.jeong@gmail.com         NaN  정영재

  1.파이썬이 인터프리터 언어로서 가지는 주요 특징은 무엇인가요? 2.파이썬의 동적 타이핑의 특징은 무엇인가요?  \
0              코드는 컴파일 없이 한 줄씩 실행됩니다.   변수의 데이터 타입은 런타임에 결정됩니다.
1              코드는 컴파일 없이 한 줄씩 실행됩니다.   변수의 데이터 타입은 런타임에 결정됩니다.
2              코드는 컴파일 없이 한 줄씩 실행됩니다.   변수의 데이터 타입은 런타임에 결정됩니다.
3              코드는 컴파일 없이 한 줄씩 실행됩니다.   변수의 데이터 타입은 런타임에 결정됩니다.
4             코드는 실행 전에 어셈블리어로 변환됩니다.     변수는 정적 메모리 할당을 사용합니다.

  3. 다음 중 파이썬의 기본 데이터 타입이 아닌 것은 무엇인가요? 4. input() 함수의 반환값은 무엇인가요?  \
0                                array                        str
1                                float                      tuple
2                                array                        int
3                                array                        str
4                                array                      tuple

  5. import 문의 주요 역할은 무엇인가요? 6. 다음 중 딕셔너리 메소드 items()의 역할은 무엇인가요?  \
0     모듈, 패키지, 라이브러리를 가져옵니다.                       키와 값 쌍을 반환합니다.
1     모듈, 패키지, 라이브러리를 가져옵니다.                       키와 값 쌍을 반환합니다.
2     모듈, 패키지, 라이브러리를 가져옵니다.                       키와 값 쌍을 반환합니다.
3     모듈, 패키지, 라이브러리를 가져옵니다.                       키와 값 쌍을 반환합니다.
4     모듈, 패키지, 라이브러리를 가져옵니다.                         딕셔너리를 정렬합니다.

  7. list comprehension의 특징은 무엇인가요? 8.함수의 가변 길이 인자 *args의 역할은 무엇인가요?  \
0             간결하게 리스트를 생성하는 구문입니다.                   키워드 인자를 처리합니다.
1             간결하게 리스트를 생성하는 구문입니다.              여러 위치 인자를 튜플로 받습니다.
2             간결하게 리스트를 생성하는 구문입니다.                   키워드 인자를 처리합니다.
3             간결하게 리스트를 생성하는 구문입니다.                  함수의 반환값을 정의합니다.
4             간결하게 리스트를 생성하는 구문입니다.              여러 위치 인자를 튜플로 받습니다.

  9. 가상 환경(venv)의 주요 목적은 무엇인가요?   10. 데코레이터의 주요 역할은 무엇인가요?  \
0     프로젝트별로 독립된 파이썬 환경을 제공합니다.                   파일을 엽니다.
1     프로젝트별로 독립된 파이썬 환경을 제공합니다.  함수나 메소드의 동작을 수정하거나 확장합니다.
2     프로젝트별로 독립된 파이썬 환경을 제공합니다.  함수나 메소드의 동작을 수정하거나 확장합니다.
3     프로젝트별로 독립된 파이썬 환경을 제공합니다.  함수나 메소드의 동작을 수정하거나 확장합니다.
4     프로젝트별로 독립된 파이썬 환경을 제공합니다.  함수나 메소드의 동작을 수정하거나 확장합니다.

  11. 파이썬이 mymodule.c로 생성된 .so 파일을 동적 로딩할 때 사용하는 주요 내부 메커니즘은 무엇인가요?  \
0                                             dlopen
1                                      PyFrameObject
2                                             dlopen
3                                      PyFrameObject
4                                      PyFrameObject

  12. 파이썬에서 모든 클래스는 기본적으로 object 클래스를 상속받습니다. object 클래스의 주요 역할은 무엇인가요?  \
0                                      클래스 상속을 제한한다.
1                              모든 클래스의 메모리 할당을 관리한다.
2                           모든 객체에 공통적인 기본 동작을 제공한다.
3                           모든 객체에 공통적인 기본 동작을 제공한다.
4                           모든 객체에 공통적인 기본 동작을 제공한다.

  13. Docker 컨테이너에서 docker run 명령의 역할은 무엇인가요?  \
0                          컨테이너의 네트워크를 재설정한다.
1                            컨테이너를 시작하고 실행한다.
2                            컨테이너를 시작하고 실행한다.
3                           Docker 이미지를 빌드한다.
4                            컨테이너를 시작하고 실행한다.

  14. Docker, Poetry, venv를 사용할 때의 공통 목표는 무엇인가요?  \
0                             데이터베이스 스키마를 초기화한다.
1                      애플리케이션의 실행 환경을 일관되게 유지한다.
2                                 파이썬 코드를 컴파일한다.
3                      애플리케이션의 실행 환경을 일관되게 유지한다.
4                      애플리케이션의 실행 환경을 일관되게 유지한다.

  15. 다음 코드에서 @property와 @age.setter를 사용한 age 속성의 동작을 해석하세요.\n\nclass Student:\n    def __init__(self, age):\n        self._age = age\n\n    @property\n    def age(self):\n        return self._age\n\n    @age.setter\n    def age(self, value):\n        if not isinstance(value, int) or value < 0:\n            raise ValueError("Age must be a non-negative integer")\n        self._age = value
0           age 속성을 읽고 쓸 수 있게 하며, 쓰기 시 유효성 검사를 수행한다.
1           age 속성을 읽고 쓸 수 있게 하며, 쓰기 시 유효성 검사를 수행한다.
2                            age 속성을 동적으로 계산하여 반환한다.
3                                age 속성을 자동으로 초기화한다.
4           age 속성을 읽고 쓸 수 있게 하며, 쓰기 시 유효성 검사를 수행한다.

In [32]:
print(df)

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]

In [34]:
df.to_csv("/home/seokjun/kubig2025/ml_dt_python/data/csv_test.csv")

In [37]:
# 조회, 정렬, 조건 필터
df = pd.read_csv("/home/seokjun/kubig2025/ml_dt_python/data/titanic/train.csv")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [38]:
print(df["Sex"].value_counts())

Sex
male      577
female    314
Name: count, dtype: int64

In [39]:
df["Pclass"] = df["Pclass"].astype("int8")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int8
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), int8(1), object(5)
memory usage: 77.6+ KB
None

In [40]:
df.sort_values(by="Age", ascending=False, inplace=True)
print(df)

     PassengerId  Survived  Pclass                                      Name  \
630          631         1       1      Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                       Svensson, Mr. Johan
493          494         0       1                   Artagaveytia, Mr. Ramon
96            97         0       1                 Goldschmidt, Mr. George B
116          117         0       3                      Connors, Mr. Patrick
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630    male  80.0      0      0       27042  30.0000   A23        S
851    male  74.0      0      0      347060   7.7750   NaN        S
493    male  71.0      0      0    PC 17609  49.5042   NaN        C
96     male  71.0      0      0    PC 17754  34.6542    A5        C
116    male  70.5      0      0      370369   7.7500   NaN        Q
..      ...   ...    ...    ...         ...      ...   ...      ...
859    male   NaN      0      0        2629   7.2292   NaN        C
863  female   NaN      8      2    CA. 2343  69.5500   NaN        S
868    male   NaN      0      0      345777   9.5000   NaN        S
878    male   NaN      0      0      349217   7.8958   NaN        S
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S

[891 rows x 12 columns]

In [43]:
cond = df["Age"] <= 70
cond2 = df["Age"] >= 60
#print(df[cond & cond2].info())
print(df.loc[cond & cond2,["Name","Age", "Sex"]])

                                                 Name   Age     Sex
745                      Crosby, Capt. Edward Gifford  70.0    male
672                       Mitchell, Mr. Henry Michael  70.0    male
33                              Wheadon, Mr. Edward H  66.0    male
456                         Millet, Mr. Francis Davis  65.0    male
54                     Ostby, Mr. Engelhart Cornelius  65.0    male
280                                  Duane, Mr. Frank  65.0    male
438                                 Fortune, Mr. Mark  64.0    male
545                      Nicholson, Mr. Arthur Ernest  64.0    male
483                            Turkula, Mrs. (Hedwig)  63.0  female
275                 Andrews, Miss. Kornelia Theodosia  63.0  female
829         Stone, Mrs. George Nelson (Martha Evelyn)  62.0  female
252                         Stead, Mr. William Thomas  62.0    male
555                                Wright, Mr. George  62.0    male
570                                Harris, Mr. George  62.0    male
170                         Van der hoef, Mr. Wyckoff  61.0    male
625                             Sutton, Mr. Frederick  61.0    male
326                         Nysveen, Mr. Johan Hansen  61.0    male
587                  Frolicher-Stehli, Mr. Maxmillian  60.0    male
684                 Brown, Mr. Thomas William Solomon  60.0    male
694                                   Weir, Col. John  60.0    male
366  Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  60.0  female

In [44]:
df = pd.read_csv("/home/seokjun/kubig2025/ml_dt_python/data/titanic/train.csv")
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [45]:
print(df["Age"].var())
print(df["Age"].mean())
cond = df["Age"] <= 50
cond2 = df["Age"] >= 40
print(df.loc[cond & cond2, ["Age"]].mean())
print(df.loc[cond & cond2, ["Age"]].sum())

211.01912474630802
29.69911764705882
Age    44.666667
dtype: float64
Age    4422.0
dtype: float64